*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(footerImage.957e389c.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #06101c;
    display: flex;
}
.form-div{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: space-around;
    margin-left: 34vw;
}
h1{
    text-align: center;
}
input{
    background-color: transparent;
    border: none;
    /* height: 25px; */
}
.par-info{
    margin-left: 7vw;
    text-align: right;
    /* border: 2px solid red; */
    width: 26vw;
}
label{
    font-size: 1.25rem;
    margin-top: 25px;
}
button{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    height: 30px;
    font-size: 1.25rem;
    margin-top: 20px;
}
button[name="delete"]{
    width: 15vw;
}